/* Стили для заголовка */
h1 {
  color: #000000;
  font-size: 24px;
}

/* Стили для текста */
p {
  color: #333333;
  font-size: 16px;
}

/* Стили для изображений */
img {
  max-width: 100%;
}
